.App{
  
}
.App h1{
  font-size: 30px;
  text-align: center;
}

.centrado {
 
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
 
 
}
.App li h4, li h5 {
  display: inline-block;
  margin-right: 10px; /* Ajuste a margem conforme necessário */
  font-size: 20px;
}


